<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd" >
 
    <bean id="restaurantBean" class="org.gontoseries.springcore.GontuSeries_5_Dependency_Injection_with_Collection_property.Restaurant">
      <property name="restaurantWaitersList">
      	<list>      	
	      	<value>Mr.ABC</value>
	      	<value>Mr.BCD</value>
	      	<value>Mr.DEF</value>
	      	<value>Mr.DEF</value>
      	</list>
      </property>
    </bean>
    
    
    
</beans>